@model Turnos.Models.Medico

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<h4>Detalles del médico</h4>
<div>
    <h4>Médico</h4>
    <hr />
      <div class="row">
    <div class="col s12 m6">
      <div class="card hoverable blue darken-1">
        <div class="card-content white-text">
          <span class="card-title"><h5></h5><b>@Html.DisplayFor(model => model.Nombre), @Html.DisplayFor(model => model.Apellido)</h5></b></span>
            <dl class="row">
        <dt >
            <h6></h6>@Html.DisplayNameFor(model => model.Direccion): @Html.DisplayFor(model => model.Direccion)</h6>
        </dt>
        <hr/>
        <dt >
            <h6></h6>@Html.DisplayNameFor(model => model.Telefono): @Html.DisplayFor(model => model.Telefono)</h6>
        </dt>
        <hr/>
        <dt >
            <h6></h6>@Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(model => model.Email)</h6>
        </dt>
        <hr/>
        <dt >
            <h6></h6>@Html.DisplayNameFor(model => model.HorarioAtencionDesde): @Html.DisplayFor(model => model.HorarioAtencionDesde)</h6>
        </dt>
        <hr/>
        <dt >
            <h6></h6>@Html.DisplayNameFor(model => model.HorarioAtencionHasta): @Html.DisplayFor(model => model.HorarioAtencionHasta)</h6>
        </dt>
    </dl>
        </div>
        <div class="card-action blue-grey darken-2"y>
        <form asp-action="Edit">
            <input type="hidden" asp-for="IdMedico" />
             <a class="btn waves-effect waves-light" asp-action="Edit" asp-route-id="@Model.IdMedico" name="action">Editar
                <i class="material-icons right">send</i>
            </a>
            <a asp-action="Index" class="right">Volv er</a>
        </form>
          
        </div>
      </div>
    </div>
  </div>
        
</div>

</body>
</html>
