@model IEnumerable<Turnos.Models.Especialidad>
<p>
    <a asp-action="Create" class="btn-floating btn-large green darken-1">
        <i class="material-icons">person_add</i>
    </a>
</p>
<table class="responsive-table highlight z-depth-3 blue lighten-5">
    <thead class="blue darken-1 white-text">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEspecialidad)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                Acciones
            </th>
             <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEspecialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
                      <td>
                <a asp-action="Edit" asp-route-id="@item.IdEspecialidad">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEspecialidad">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
    </table>