@model IEnumerable<Turnos.Models.Especialidad>
<p>
    <a asp-action="Create">Crear uno nuevo</a>
</p>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => x.IdEspecialidad)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Descripcion)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdEspecialidad</td>
                <td>@item.Descripcion</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEspecialidad">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.IdEspecialidad">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>