@model Paciente

<h4>Detalles</h4>
<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(x=>x.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(x=>x.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(x=>x.Apellido)
        </dt>
        <dd>
            @Html.DisplayFor(x=>x.Apellido)
        </dd>        

        <dt>
            @Html.DisplayNameFor(x=>x.Direccion)
        </dt>
        <dd>
            @Html.DisplayFor(x=>x.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(x=>x.Telefono)
        </dt>
        <dd>
            @Html.DisplayFor(x=>x.Telefono)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPaciente">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>